

/******************************************    background 1  **********************************/
body[data-template="template1"]{
    background-image: url(../img/bg/b1.jpg);


}


body[data-template="template1"]  .homemenu-content,
body[data-template="template1"] .areen1, .plexi1,
body[data-template="template1"] .areen3,
body[data-template="template1"] .treek,
body[data-template="template1"]  footer,
body[data-template="template1"] .subfooter

{
    background-image: url(../img/bg/bb1.jpg);
}






/***************************************   background 2  ***************************************/
body[data-template="template2"]{
    background-image: url(../img/bg/b2.jpg);

}




body[data-template="template2"]  .homemenu-content,
body[data-template="template2"] .areen1, .plexi1,
body[data-template="template2"] .areen3,
body[data-template="template2"] .treek,
body[data-template="template2"]  footer,
body[data-template="template2"] .subfooter

{
    background-image: url(../img/bg/bb2.jpg);
}












/***********************************************    background 3  ***************************************/
body[data-template="template3"]{
    background-image: url(../img/bg/b3.jpg);

}




body[data-template="template3"] .homemenu-content,
body[data-template="template3"] .areen1, .plexi1,
body[data-template="template3"] .areen3,
body[data-template="template3"] .treek,
body[data-template="template3"]  footer,
body[data-template="template3"] .subfooter

{
    background-image: url(../img/bg/bb3.jpg);
}


