

/******************************************    background 1  **********************************/
body[data-template="template1"]{
    background-image: url(../img/bg/b1.jpg);
}

body[data-template="template1"].blur .plexi3{
    background-image: url(../img/bg/bb1.jpg);
}






/***************************************   background 2  ***************************************/
body[data-template="template2"]{
    background-image: url(../img/bg/b4.jpg);

}

body[data-template="template2"].blur .plexi3{
    background-image: url(../img/bg/b4r.jpg);
}





/***********************************************    background 3  ***************************************/
body[data-template="template3"]{
    background-image: url(../img/bg/b3.jpg);
}

body[data-template="template3"].blur .plexi3{
    background-image: url(../img/bg/bb3.jpg);
}


body[data-template="template3"]  .homemenu a {
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    color: #aecdff;
}


/***********************************************    background 4  ***************************************/
body[data-template="template4"]{
    background-image: url(../img/bg/colombia1.jpg);
}

body[data-template="template4"].blur .plexi3{
    background-image: url(../img/bg/colombiab1.jpg);
}



/***********************************************    background 5  ***************************************/
body[data-template="template5"]{
    background-image: url(../img/bg/colombia1.jpg);
    background-image: url(../img/bg/colombia2.jpg);
    background-image: url(../img/patterns/black-thread-1920x1080.png);

}

body[data-template="template5"].blur .plexi3{
    background-image: url(../img/patterns/black-thread-1920x1080b.jpg);
}

