
.ai-tranlator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    position: relative;
    /* top: 23px; */
    line-height: 23px;
    height: 23px;
    width: 200px;
}
.ai-tranlator p{
    padding-right: 23px;
    /*height: 23px;*/
}




.flags{
    height: 23px;
    position: relative;
    padding: 2px 3px;
    width: fit-content;
    transition: all .4s;
    color: #a5d7d6;
}
.flags:hover{
    color: #ffe79e;
    /*transform: scale(1.1);*/
    transition: all .5s;
    cursor: pointer;
}

.dropdown{
    padding-top: 5px;
}

.flages img{
    padding-top: 5px;
}
.language-switch{
    font-size: 14px;
}

.flags img{
    margin-right: 12px;
}


.flags img{
    transform: scale(1);
    transition: all .4s;
    box-shadow: 2px 2px 5px #0000004d;
}
.flags img:hover{
    transform: scale(1.2);
    transition: all .4s;
}

.ai-languages{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 33px;
    background: #00000054;
    padding: 16px;
}







#google_translate_element{
   padding-right: 10px;
}

select.goog-te-combo{
    margin: 4px 0;
    /* width: 444px; */
    /*height: 25px;*/
    background: #005d7945;
    color: aliceblue;
}

.skiptranslate.goog-te-gadget span{
    display: none;
}

.skiptranslate.goog-te-gadget{
    height: 27px;
    overflow: hidden;

}

select option{
    /*background: #1d2b32;*/
}

/*p::-moz-selection { color: #a600ff*/
/*}*/
/*p::selection { color: #f700ff; }*/





/**************************************************/


.dm-display-none{
    display: none !important;
}

.dm-display-block{
    display: block !important;
}


.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.d-lg-none {
    display: none!important;
}
.d-inline-block {
    display: inline-block!important;
}







.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .47rem .75rem;
    font-size: .9rem;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}



.header-item {
    height: 70px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #555b6d;
    border: 0;
    border-radius: 0;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: .9rem;

    text-align: left;
    list-style: none;

    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: .25rem;

}
.dropdown-menu {
    -webkit-box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    -webkit-animation-name: DropDownSlide;
    animation-name: DropDownSlide;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0;
    position: absolute;
    z-index: 1000;
    left: auto!important;
    /*right: 0!important;*/
    color: #ffffff;

    background-image: linear-gradient(
            151deg
            , #1f2f0be3, #3fbe4994);
    box-shadow: 4px 7px 9px #0000006b;
    padding: 10px 2px 10px 17px;

}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .35rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}